.css-190uv5w-MuiPaper-root-MuiAccordion-root::before {
  position: static !important;
}
.css-1wqf3nl-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(45deg) !important;
}
.css-f8wb7g.Mui-expanded {
  transform: rotate(45deg) !important;
}
