:root {
  --primary: #eaf4ff;
  --secondary: #2089ff;
  --black: #0c2441;
  --white: #fff;
  --secondary-black: #7b8ca0;
  --grey: #f4f4f4;
  --grey-2: #e5e5e5;
  --grey-3: ##0b2441;
  --beige: #f1e1c0;
  --blue: #d9dbfb;
}
